{% extends "base.html" %}

<title>Account</title>

{% block content %}

{% load static %}

<div id="action_form">
  <p class="special2">Загрузить Фотографию в 100грам</p>
<form method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>
</div>

<div class="container">
  <div class="row">
<div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
  <p class="special2">Фотографии которые были  добавлены в избранное:</p>
  {% for favourite_photo in favourite_photos %}
  <a class="mainImageBlock">
      <img src="{{ favourite_photo.photo.path.url }}" alt="title">
  </a>
  <div class="mainImageBottom"></div>
  {% endfor %}  
</div>
  </div>
</div>

{% endblock %}