{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
<div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
    <a href="{% url 'account_url' %} %}" style='color: inherit;text-decoration: inherit;'></a>
    {% for photo in photos %}
    <a href="/">
        <div class="media pt-3 pl-3 pb-1">
            <img class="mr-3 rounded-circle" height="35" src="{{ photo.user.avatar.url }}" alt="{{ photo.user.name }}">
                <div class="media-body">    
                    <p style="margin-top: 5px;">{{ photo.user.name }}</p>
                </div>
        </div>
    </a>
    <a href="/">
        <img style="width: 50%;" src="{{ photo.path.url }}" alt="title">
    </a>
    <p class="mt-1 ml-2" >
        <a href="" style="color: #000; font-size: 20px;">
            <i class="far fa-heart"></i>
        </a> 30 likes
        {% if not is_user_anonymous %}
        <a href="{% url 'toggle_favourite_url' photo_id=photo.id %}">
            
                {% if photo.already_favourite %}
                    Удалить из избранного
                {% else %}
                    Добавить в избранное
                {% endif %}
            
        </a>
        {% else %}
            <a href="{% url 'login' %}">Авторизуйтесь чтобы добавить в избранное</a>
        {% endif %}
    </p>
    <p class="ml-2 mt-0 mb-2">{{ photo.description }}</p>
    {% endfor %}
</div>
    </div>
</div>
{% endblock %}