{% extends "base.html" %}


{% block content %}

{% load static %}
<div class="container">
    <div class="row">
<div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
    <a href="{% url 'account_url' %}" style='color: inherit;text-decoration: inherit;'></a>
    {% for photo in photos %}
     <a href="{% url 'account_url' %}">
        <div class="media">
            <img class="mr-3 rounded-circle" height="35" src="{{ photo.user.avatar.url }}" alt="{{ photo.user.name }}">
            <span class="special">{{ photo.user.name }}</span>
        </div>
    </a>
    <a class="mainImageBlock">
        <img src="{{ photo.path.url }}" alt="title">
    </a>
    <div class="mainImageBottom">
        <p class="comment">{{ photo.description }}
            {% if not is_user_anonymous %}
            <!--button class="FavBut"-->  
            <br/>
               
            <a class="FavBut" href="{% url 'toggle_favourite_url' photo_id=photo.id %}">

                {% if photo.already_favourite %}
                    Удалить из избранного
                {% else %}
                    Добавить в избранное
                {% endif %}
                
            </a>
            {% else %}
                <a href="{% url 'login' %}">Авторизуйтесь чтобы добавить в избранное</a>
            {% endif %}
            <!--/button-->
        </p>
    </div>
    {% endfor %}
</div>
    </div>
</div>
{% endblock %}